<article>
  <header>
    <h1>Users</h1>
  </header>
  <section>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</article>
